.product-gallery {
	background: #eee;
    -moz-box-shadow: 0 0 5px #666;
    margin: 20px auto;
	padding: 10px;
	}
	.product-gallery,
	.product-gallery .gallery-image-holder,
	.product-gallery .gallery-image-holder div div {
		width: 600px;
	}
	.product-gallery div.gallery-image-holder {
		overflow: hidden;
		position: relative;
		}
		.product-gallery .gallery-image-holder,
		.product-gallery .gallery-image-holder div div {
			height: 380px;
		}
		.product-gallery .gallery-image-holder .images {
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
			}
			.product-gallery div.gallery-image-holder div div {
				float: left;
				position: relative;
				overflow: hidden;
				}
				.product-gallery .image-title {
					background: #fff;
					background: rgba(255, 255, 255, .7);
					color: #626262;
					display: block;
					overflow: hidden;
					position: absolute;
					}
					.product-gallery .image-title span {
						display: block;
						margin: 6px 8px;
					}

		.product-gallery .control-holder {
			cursor: pointer;
			height: 100%;
			position: absolute;
			top: 0;
			z-index: 3;
			}
			.product-gallery .gallery-image-holder:hover .control-holder span {
				display: block;
			}
			.product-gallery .control-holder span {
				background-color: #fff;
				background-image: url(../images/cwpGallery-arrows.png);
				background-repeat: no-repeat;
				display: none;
				height: 30px;
				margin-top: -15px;
				position: absolute;
				top: 50%;
				width: 30px;
				z-index: 2;
			}
			.product-gallery .control-next {
				background-position: 8px -149px;
				border-radius: 4px 0 0 4px;
				-moz-border-radius: 4px 0 0 4px;
				-webkit-border-radius: 4px 0 0 4px;
				box-shadow: -1px 1px 2px rgba(100, 100, 100, .7);
				-moz-box-shadow: -1px 1px 2px rgba(100, 100, 100, .7);
				-webkit-box-shadow: -1px 1px 2px rgba(100, 100, 100, .7);
				right: 0;
			}
			.product-gallery .control-previous {
				background-position: 8px -39px;
				border-radius: 0 4px 4px 0;
				-moz-border-radius: 0 4px 4px 0;
				-webkit-border-radius: 0 4px 4px 0;
				box-shadow: 1px 1px 2px rgba(100, 100, 100, .7);
				-moz-box-shadow: 1px 1px 2px rgba(100, 100, 100, .7);
				-webkit-box-shadow: 1px 1px 2px rgba(100, 100, 100, .7);
				left: 0;
			}
			
		.product-gallery .gallery-image-holder .loading {
			background: #fff url(../images/cwpGallery-indicator.gif) no-repeat 50% 50%;
			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			box-shadow: 0 0 2px rgba(100, 100, 100, .7);
			-moz-box-shadow: 0 0 2px rgba(100, 100, 100, .7);
			-webkit-box-shadow: 0 0 2px rgba(100, 100, 100, .7);
			height: 40px;
			left: 50%;
			margin: -20px 0 0 -20px;
			position: absolute;
			top: 50%;
			width: 40px;
			z-index: 4;
		}
	
	div.thumbnail-holder {
		margin: 10px 0;
		position: relative;
		overflow: hidden;
		}
		div.thumbnail-holder,
		.thumbnail-holder div {
			height: 110px;
		}
		.thumbnail-holder div {
			margin: 0 20px;
			overflow: hidden;
			position: relative;
		}
		.thumbnail-holder ul {
			left: 0;
			list-style: none;
			margin: 0;
			position: absolute;
			top: 0;
			}
			.thumbnail-holder li {
				background: #aaa;
				float: left;
				margin: 0 5px 0 0;
				padding: 2px;
				}
				.thumbnail-holder li.active {
					background: #333;
					}
					.thumbnail-holder li img {
						display: block;
					}
			.thumbnail-holder .scroll-left,
			.thumbnail-holder .scroll-right {
				background-image: url(../images/cwpGallery-arrows.png);
				background-repeat: no-repeat;
				cursor: pointer;
				display: block;
				height: 110px;
				position: absolute;
				top: 0;
				width: 16px;
			}
			.thumbnail-holder .scroll-left {
				background-position: top left;
				left: 0;
			}
			.thumbnail-holder .scroll-right {
				background-position: bottom left;
				right: 0;
			}
			
		.center {
			background: black;
			display: block;
			height: 110px;
			left: 50%;
			margin-left: -1px;
			position: absolute;
			top: 0;
			width: 2px;
			z-index: 3;
		}